@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

.btn-visible {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-visible:hover {
  color: var(--visible);
  background-color: var(--visible);
  border-color: var(--visible);
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.text-visible {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.644), 0px 0px 5px rgba(18, 34, 50, 0.678);
  color: rgb(96, 190, 234) !important;
  font-weight: 700;
  letter-spacing: 0.035rem;
}

// .text-visible:hover {
//   text-shadow: 1px 1px rgba(0, 0, 0, 0.644), 0px 0px 5px rgba(189, 234, 30, 0.678);
//   color: rgb(96, 190, 234) !important;
//   font-weight: 700;
//   letter-spacing: 0.035rem;
// }

.text-visible-light {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.644), 0px 0px 5px rgba(189, 234, 30, 0.678);
  color: rgb(214, 215, 215) !important;
  font-weight: 700;
  letter-spacing: 0.035rem;
}

.text-visible-light:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.644), 0px 0px 5px rgba(189, 234, 30, 0.678);
  color: rgb(214, 215, 215) !important;
  font-weight: 700;
  letter-spacing: 0.035rem;
}

.text-visible-dark {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.678);
  color: rgb(38, 38, 38) !important;
  font-weight: 700;
  letter-spacing: 0.035rem;
}

.text-visible-dark:hover {
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.92);
  color: rgb(38, 38, 38) !important;
  font-weight: 700;
  letter-spacing: 0.035rem;
}